body {
    padding-top: 100px;
}

#scumcoin_navbar {
    border-bottom: 5px;
    border-bottom-width: 5px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #08c;

    background-color: #333333 !important;
}

#navbar_toggler {
    background-color: #08c;
}

#pay_button {
    background-color: #333333;
    border-color: #08c !important;
    border: 3px solid;
    color: #08c;
    margin-right: 10px;
}
